.video-list {
    padding: 40px 0;
    .container-fluid {
        max-width: 1500px;
    }
    &__title {
        color: $main-color;
        font-size: 36px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 20px;
    }
    &__video {
        background: $main-color;
        height: 400px;
    }
}

.videoblog-list-page {
    background: rgba($main-color-light, .4);
    .s9__title {
        margin-bottom: 50px;
    }
}