@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/proxima_nova/Proxima Nova Thin.otf');
    font-weight: 50;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/proxima_nova/Proxima Nova Thin Italic.otf');
    font-weight: 50;
    font-style: italic;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/proxima_nova/Proxima Nova Light.otf');
    font-weight: 100;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/proxima_nova/Proxima Nova Light Italic.otf');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/proxima_nova/Proxima Nova Regular.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/proxima_nova/Proxima Nova Regular Italic.otf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/proxima_nova/Proxima Nova Semibold.otf');
    font-weight: 700;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/proxima_nova/Proxima Nova Semibold Italic.otf');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/proxima_nova/Proxima Nova Extrabold.otf');
    font-weight: 900;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/proxima_nova/Proxima Nova Extrabold Italic.otf');
    font-weight: 900;
    font-style: italic;
}
