$main-color: #393d45;
$red-color: #d4495a;
$green-color: #33b185;
$light-grey-color: #4d525f;
$choose-color: #8c8c8c;
$heading-color: #5d626e;

$main-color-light: #ccd1dd;

$text-color: $main-color;

$white-color: #fff;
$black-color: #000;

@mixin button($color) {
    padding: 15px 30px;
    background: $color;
    color: $white-color;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    border: none;
    outline: none;
    transition: .2s;
    &:hover,
    &:active,
    &:focus {
        background: darken($color, 10%);
        text-decoration: none;
        color: $white-color;
    }
    @media (max-width: 767px) {
        padding: 10px 30px;
    }
}

$i: 10;
@while $i < 101 {
    .mb-#{$i} { margin-bottom: $i + px; }
    $i: $i + 10;
}

$i: 10;
@while $i < 101 {
    .mt-#{$i} { margin-top: $i + px; }
    $i: $i + 10;
}