.single-product-s1 {
    background: $white-color;
    padding: 60px 0;
    .container-fluid { max-width: 1410px; }
    /****** Style Star Rating Widget *****/
    @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

    label { margin-bottom: 0; }
    .rating { border: none; }

    .rating > input { display: none; }
    .rating > label:before {
        margin-left: 5px;
        font-size: 16px;
        font-family: FontAwesome;
        display: inline-block;
        content: "\f005";
    }

    .rating > .half:before {
        content: "\f089";
        position: absolute;
    }

    .rating > label {
        color: #ddd;
        float: right;
    }

    /***** CSS Magic to Highlight Stars on Hover *****/

    .rating > input:checked ~ label,
    .rating:not(:checked) > label:hover,
    .rating:not(:checked) > label:hover ~ label
    { color: #FFD700;  }

    .rating > input:checked + label:hover,
    .rating > input:checked ~ label:hover,
    .rating > label:hover ~ input:checked ~ label,
    .rating > input:checked ~ label:hover ~ label
    { color: #FFED85;  }
}

.sp {
    &__title {
        font-weight: 700;
        color: $main-color;
        font-size: 47px;
        margin-top: 0;
    }
    &__category {
        color: $main-color;
        img {
            position: relative;
            margin-top: -6px;
            margin-right: 5px;
        }
        &:hover {
            text-decoration: none;
            color: $red-color;
        }
    }
}

.sp-objective {
    margin-top: 40px;
    &__title {
        font-weight: 700;
        text-transform: uppercase;
        color: $main-color;
        font-size: 24px;
        letter-spacing: 2px;
        margin-bottom: 30px;
    }
    &__text {
        color: rgba($main-color, .6);
        ul {
            padding-left: 15px;
            li {
                line-height: 26px;
            }
        }
    }
    &__btn-wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__send {
        @include button($green-color);
    }
    &__demo {
        @include button($red-color);
    }
    &__send,
    &__demo {
        width: 48%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        img {
            position: relative;
            margin-left: 10px;
        }
    }
    &__item__title {
        font-size: 18px;
        font-weight: 700;
        color: $main-color;
        margin-top: 30px;
    }
    &__business {
        text-align: center;
        padding: 10px 0 0;
        font-weight: 100;
        color: rgba($main-color, .6);
    }
    &__online-link {
        display: block;
        color: $main-color;
        font-weight: 700;
        font-size: 24px;
        line-height: 50px;
        transition: .2s;
        span {
            width: 50px;
            text-align: center;
            display: inline-block;
        }
        &:hover {
            color: $red-color;
            text-decoration: none;
        }
    }
}

.sp-card {
    background: rgba($main-color-light, .3);
    padding: 40px;
    margin-top: 60px;
    position: relative;
    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 25px 25px 0 0;
        border-color: $white-color transparent transparent transparent;
    }
    &__row {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba($main-color, .2);
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__left {
        margin: 0;
        color: $main-color;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 16px;
    }
    &__right {
        margin: 0;
        color: $main-color;
        font-weight: 700;
        font-size: 16px;
    }
    &__last-row {
        display: flex;
        justify-content: space-around;
        padding-top: 20px;
    }
    &__item {
        width: calc(100% / 3);
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }
    &__image {
        margin-bottom: 20px;
    }
    &__category {
        color: rgba($main-color, .6);
        font-weight: 100;
    }
}

.sp-card-2 {
    @extend .sp-card;
    background: none;
    padding: 0;
    &:after {
        display: none;
    }
    .sp-card__right {
        font-weight: 100;
        color: rgba($main-color, .6);
    }
}

.single-product-s2 {
    background: $main-color;
    padding: 150px 0;
    &__wrapper {
        text-align: center;
    }
    &__image {
        max-width: 128px;
        height: auto;
        position: relative;
        margin: 0 auto 20px;
    }
    &__title {
        color: rgba($white-color, .8);
        font-size: 14px;
        font-weight: 100;
    }
    .owl-dots {
        text-align: center;
        position: absolute;
        width: 100%;
        left: 0;
        bottom: -60px;
    }
    .owl-dot {
        background: $main-color-light;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        display: inline-block;
        margin: 0 3px;
        transition: .2s;
    }
    .owl-dot.active {
        background: $green-color;
    }
}

.single-product-s3 {
    padding: 90px 0;
    background: $white-color;
}

.single-product-s4 {
    background: $main-color-light;
    padding: 90px 0;
    &__title {
        font-weight: 700;
        font-size: 24px;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin: 0;
    }
    &__form {
        margin-top: 60px;
    }
    &__textarea {
        width: 100%;
        height: 165px;
        border: none;
        border-bottom: 3px solid transparent;
        background: rgba($white-color, .6);
        padding: 30px;
        outline: none;
        transition: .2s;
        &:focus {
            border-color: $main-color;
        }
    }
    &__btn-wrapper {
        width: 100%;
        max-width: 700px;
        display: flex;
        justify-content: space-around;
        position: relative;
        margin: 30px auto 0;
    }
    &__button-1,
    &__button-2,
    &__button-3 {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }
    &__button-1 {
        @include button($green-color);
    }
    &__button-2 {
        @include button($main-color);
    }
    &__button-3 {
        @include button($red-color);
    }

    &__comment-wrapper {
        margin-top: 60px;
    }
    &__comment {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }
    &__comment__image {
        width: 110px;
        height: 110px;
        background-size: cover;
        background-position: center center;
        border-radius: 50%;
    }
    &__comment__text-body {
        color: rgba($main-color, .8);
        font-size: 14px;
    }
    &__comment__text-footer {
        margin-top: 20px;
        color: rgba($main-color, .6);
        font-size: 14px;
        border-bottom: 1px solid rgba($main-color, .1);
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
    }
}